<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-group" >
        <label for="title">Título:</label>
        <input 
            type="text" 
            placeholder="Insira um título" 
            formControlName="title"
            required
        />

        <!-- VALIDAÇÃO DO TÍTULO -->
        <div class="validation-error" *ngIf="title.invalid && formDir.submitted">
            <p *ngIf="title.errors?.['required']" >O Título é obrigatório</p>
        </div>
    </div>
    
    <div class="form-group" >
        <label for="description" >Descrição:</label>
        <textarea 
            placeholder="descreva o seu momento!" 
            required 
            formControlName="description"
        ></textarea>

        <!-- VALIDAÇÃO DA DESCRIÇÃO -->
        <div class="validation-error" *ngIf="description.invalid && formDir.submitted">
            <p *ngIf="description.errors?.['required']" >A Descrição é obrigatória</p>
        </div>
    </div>

    <div class="form-group" >
        <label for="image">Insira a foto do momento:</label>
        <input type="file">
    </div>

    <input type="submit" value="{{ btnText }}" >
</form>